<div class="container">
    <h1>{{title}}</h1>
    <p>Os Vingadores (Avengers no original em inglês) são um grupo de super-heróis de história em quadrinhos publicados nos Estados Unidos pela editora Marvel Comics. O grupo também aparece em adaptações da Marvel para cinema, desenho animado e videogames. (Wikipedia)</p>
    <p>Alguns membros da formação atual:</p>
    <div class="card-group">
        <div class="card" *ngFor="let vingador of vingadores">
            <img class="card-img-top" [src]="vingador.urlDaFoto" [alt]="vingador.nome" height="200">
            <div class="card-body">
                <h4 class="card-title">{{vingador.nome}}</h4>
                <p class="card-text">{{vingador.pessoa}}</p>
                <a [href]="vingador.urlWikipedia" class="btn btn-primary">Mais detalhes</a>
            </div>
        </div>   
    </div>
</div>
